*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li,
menu{
    list-style: none
}
img{
    max-width: 100%;
}
/* debug */
.debug-header__nav{
    background-color: lightblue;
}
.debug__nav{
    background-color: gold;
}
.debug-item__nav{
    padding: 8px 10px;
    border: 2px dashed #000;
}
.debug-section-blue{
    background-color: blue;
}
.debug-section__container-small{
    min-height: 400px;
    background-color: pink;
    border: 2px dashed blueviolet;
}
.debug-section{
    background-color: #fff;
}
.debug-section:nth-child(even){
    background-color: lightgray;
}
.debug-section__container{
    min-height: 400px;
    background-color: blue;
    border: 2px dashed red;
}
.debug__container-split{
    height: 400px;
    border: 2px dashed blueviolet;
    background-color: forestgreen;
}
.debug-section__container-big{
    min-height: 800px;
    background-color: green;
    border: 2px dashed red;
}
.debug-footer-container{
    min-height: 500px;
    border: 2px dashed pink;
    background-color: lightgreen;
}
.debug-footer-container:nth-child(1){
    background-color: coral;
}
.debug-bottom-footer__container{
    min-height: 50px;
    background-color: lightseagreen;
}
.debug-bottom-footer-item{
    background-color: pink;
}
/* End debug */
.centre{
    margin: 0 auto;
}
.large{
    max-width: 1200px;
}
.small{
    max-width: 800px;
}
.main-header__nav{
    padding: 10px;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo__nav,
.auth{
    flex-basis: calc(100% / 4);
}
.list__nav{
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: calc(100% / 2);
}
.auth{
    text-align: right;
}
.section{
    padding: 40px 0;
}
.row{
    padding: 40px 0;
    background-color: #fff;
}
.section__container-split{
    display: flex;
}
.row:nth-child(odd) > .section__container-split{
    flex-direction: row-reverse;
}
.container__main{
    flex-grow: 1;
    background-color: lightcyan;
}
.container__side{
    flex-basis: calc(100% / 3);  
    background-color: lightcoral;
}
.row-footer{
    background-color: #222;
}
.row-footer:nth-child(1){
    border-bottom: 1px solid #fff;
}
.row-footer:nth-child(2){
    padding-top: 20px;
}
.footer__container,
.bottom-footer__container{
    display: flex;
    flex-direction: row;
}
.footer__container{
    padding: 40px 0;
}
.footer-container-large{
    flex-basis: calc(100% / 3);
}
.footer-container-small{
    flex-basis: calc(100% / 6);
}
.bottom-footer__container{
    align-items: center;
    justify-content: space-between;
}
.bottom-footer-item{
    padding: 5px 10px;
    border: 2px dashed #000;
}